<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="es.mastergeoinformatica.mov.batteryapp" version="1.0.0">
  <name>BatteryApp</name>
  <description>Permite conocer el estado de la batería.</description>
  <author href="http://phonegap.com" email="sladra@udc.es">Susana Ladra</author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1.2.1" />
  <plugin name="org.apache.cordova.battery-status" source="pgb" spec="0.2.12" />
  <plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />
  <icon src="icon.png"/>
  <platform name="android></platform>
</widget>
